extends layout

block content
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
        .jumbotron
          .container
            h1.display-4 TestBot Brower Automation
            p
              | TestBot is a nodejs tool to automate all of your browser related tasks such as taking screenshots or Integration Test or Unit Test. It uses Google's Puppetteer API to automate a Headless Chrome instance.
            p
              a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo;
